LIBRARIAN_DATABASE_URL=sqlite:///data/librarian.db
LIBRARIAN_BOOKS_DIR=/books
LIBRARIAN_HOST_BOOKS_DIR=./Epub-Books
LIBRARIAN_CODEX_BROKER_URL=http://host.docker.internal:8787
LIBRARIAN_ENABLE_CODEX_BROKER=false
LIBRARIAN_EMBEDDING_PROVIDER=noop
LIBRARIAN_EMBEDDING_MODEL=all-minilm
LIBRARIAN_OLLAMA_BASE_URL=http://host.docker.internal:11434
